##########################################################################################
# This section defines which file types are associated with which linguist-documentation #
# language types. Without this, linguist detects this as mere c++ code and not as an     #
# Arduino library                                                                        #
##########################################################################################
examples/ linguist-documentation=false
*.c linguist-language=Arduino
*.ino linguist-language=Arduino
*.pde linguist-language=Arduino
*.c linguist-language=Arduino
*.h linguist-language=Arduino
*.cpp linguist-language=Arduino
*.cpp linguist-language=c++

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
